KARAKEEP_VERSION=release
WEB_PORT=3000
NEXTAUTH_SECRET=replace_me
MEILI_MASTER_KEY=replace_me_too
NEXTAUTH_URL=http://localhost:3000

# Optional AI
# OPENAI_API_KEY=sk-...
# INFERENCE_TEXT_MODEL=gpt-4o-mini
